<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Boucherie - Charcuterie - Traiteur</h1> 
            <h2>Marc Paulus</h2> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 card">
            <div class="text-center card-body">
            <p>
                41 - 43 Rue du Gal de Gaulle  <br>
                67500 NIEDERSCHAEFFOLSHEIM <br>
                Tel/Fax: 03 88 90 78 92 <br>
                marc@traiteurpaulus.fr <br>
            </p>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <b>Horaires d'ouverture du magasin :</b>
               </div>
                
                <div class="card-body">
                    <p> 
                        Lundi : 7h à 12h30 et 15h à 19h <br>
                        Mardi : 7h à 12h30 et 15h à 19h <br>
                        Mercredi : 7h à 12h30 <br>
                        Jeudi : 7h à 12h30 et 15h à 20h <br>
                        Vendredi : 7h à 19h en continu <br>
                        Samedi : 7h à 13h <br>
                    </p>
                </div>

            </div>
           
         </div>
    </div>

    
</div>
    
        
    
    
    <div>
    Sauf information contraire, nous sommes ouverts à nos horaires habituels <br>
    Mise en place d'installations pour assurer votre sécurité avec une limite à respecter devant le comptoir ainsi qu'une protection physique au niveau de l'encaissement. <br>
    
    Par ailleurs, nous vous proposons de prendre commande par e.mail à l'adresse suivante :  commande@traiteurpaulus.fr <br>
    Une réponse confirmera la réception de la commande. <br>
    Informations à fournir impérativement dans le corps de mail : <br>
    nom, prénom, tél, mail, date de récupération de la commande, horaire souhaité, commande, désignation (poids, pièces) <br>
    </div>
   
    
    
    
    
    <br>
    <br>
    
            
    <div>
        Nous vous suggérons LA spécialité maison de référence : notre incontournable estomac de porc farci. Nous vous livrerons quelques petits secrets de fabrication... Mais pas tous ! <br>
    
        Dans les pages suivantes, nous vous proposons un petit voyage gastronomique chez le traiteur. Vous y découvrirez nos apéritifs,  nos buffets et nos menus ainsi que les spécialités d'Alsace et autres gourmandises. 
        Venez goûter nos produits de la boucherie, charcuterie, et profiter de nos promotions. <br>
        
        En cliquant sur l'onglet "estomac", vous serez dirigé sur la page qui vous indique les dates mensuelles de production de notre estomac de porc farci ainsi que de nos saucisses de pommes de terre. <br>
        
        N'oubliez pas le début de saison pour nos estomacs de porc farci et nos saucisses de pommes de terre qui aura lieu en septembre 2020 <br>
    </div>
    
    
          
    <div>
        <b>Tous les samedis à partir de 10h30, nous proposons des poulets rôtis</b> 
    </div>
    
    <br>
    <br>
    
               
    <div>
    
        Le goût de la perfection dans toute sa splendeur <br>
        INFO ORIGINES DES PRODUITS ET ENERGIES UTILISEES  <br>
        Depuis 20 ans déjà, dans le respect des traditions et d’un savoir-faire artisanal, nous proposons à nos clients des produits de grande qualité. <br>
        Nos viandes proviennent d'abattoirs français, et sont désossées par des professionnels ou par du personnel en formation. <br>
        Pour bien vous servir il faut de très bons bouchers charcutier traiteurs que nous formons. Nous prenons le plus grand soin dans la préparation de vos commandes. <br>
        Toujours à votre écoute pour vous satisfaire au mieux, toujours dans le plaisir de créer de plus en plus selon vos envies. <br>
        Beau challenge que nous nous promettons de relever et qui nous donne de jour en jour l’envie de mieux faire. <br>
        Belle interactivité grâce à laquelle nous donnons à nos présentations une couleur d’exception et recherchons sans cesse l’excellence. <br>
        
    </div>
    
    <br>
    
    <div>
    
    Nous vous informons que les pommes de terre et les légumes (poireaux, carottes, choux, céleri, persil etc. …) sont produits par nos soins. 
    Si  nos stocks sont écoulés, nous nous fournissons chez des fermes locales. <br>
    Pour le fonctionnement de notre établissement nous avons investi dans l’énergie renouvelable :
    <ul>
        <li>Si nous manquons de soleil, l’eau chaude est produite par une pompe à chaleur.</li>
        <li>Le bureau est chauffé au bois</li>
        <li>Le labo est chauffé par une pompe à chaleur</li>
        <li>Notre chambre froide a été totalement transformée pour avoir une consommation d’énergie minimum</li>
        <li>L’eau de pluie est récupérée.</li>
    </ul>
    L’eau chaude est produite par des panneaux solaires.
    </div>
    
    <br>
    <div>
    pour vos fêtes, louez notre frigo, ou notre four à tartes flambées <br>
    80 € le week-end <br>
    (+ frais de mise en place) <br>
    </div>
    <br>
    <br>
        <div class="card">
            <div class="card-header">
                le jeudi à partir de 16h : <br>
                tartes flambées à emporter : <br>
            </div>
    
            <div>
                <ul>
                    <li>Normale 6,00 € <br></li>
                    <li>Gratinée 6,50 € <br></li>
                </ul>
            </div>
    </div>
    <br>
    
        <div class="card">
            <div class="card-header">
                DECOUVREZ NOS GYROS <br>
                Etonnez vos amis, <br>
                faites votre Gyros vous-même ! <br>
            </div>
            <div class="card-body">
                Le Gyros est une spécialité  Grecque préparée sur une broche à la verticale. Viande de porc marinée, prête à cuire. <br>
                Nous vous proposons la mise à disposition de la machine, ainsi que la préparation de la viande. <br>
                Il vous suffit de faire tourner la broche et passer un bon moment dans la convivialité et la bonne humeur. <br>
                <i>(Minimum de 20 personnes et le prix ne comprend pas la livraison.)</i> 
                <br>
                <br>
                <b>TARIF :</b>
                Merci de bien vouloir préciser le code d'article sur votre commande. <br>
                <br>
                <div>
                    <ul>
                        <li>Code 1008   Machine, viande (300 gr/pers) et sauce zaziki 5,40 €</li>
                        <li>Code 1011   Machine, viande (300 gr/pers) et sauce zaziki et couteaux gyros 5,90 €</li>
                        <li>Code 1009   Machine, viande (300 gr/pers) et sauce zaziki et 5 sortes de salades, gaz fourni 9,40 €</li>
                        <li>Code 1010   Machine, viande (300 gr/pers) et sauce zaziki et 5 sortes de salades et couteaux gyros, gaz fourni 9,90 €</li>
                    </ul>
                allergènes : lait <br>
                    
                prix par personne, auquel il faut rajouter le forfait gaz qui est de 10 € <br>
                </div>
            </div>
        </div>
        
    <br>
    
        
    <br>
    <div>
        (tarifs au 01/09/2020 - nos prix s'entendent TTC, TVA 5,5 % + frais de livraison)
    </div>
    



