<div class="mx-auto" style="width: 800px;">

    <h1>Login</h1>
    <br>
    <div *ngIf="(user$ | async)" class="alert alert-success" role="alert">
      Félicitations ! Connexion réussi ! 
    </div>
      

    <div *ngIf="(error$ | async)" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
      

    <div class="card">
      <form (submit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="login">Login : </label>
            <input required name="login" [formControl]="login"  type="text" value="login" id="login">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password : </label>
            <input required name="password" [formControl]="password" type="password" id="password">
          </div>
        </div>
        <button  type="submit" class="btn btn-primary" >Connexion</button>
      </form>
  </div>