<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Boucherie Paulus</h5>

        <p>
            41 - 43 Rue du Gal de Gaulle  <br>
        
            67500 NIEDERSCHAEFFOLSHEIM <br>
            
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Nous contactez</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="tel:0388907892" class="text-dark">Par Téléphone : 0388907892</a>
          </li>
          <li>
            <a href="mailto:marc@traiteurpaulus.fr" class="text-dark">Par mail : marc@traiteurpaulus.fr</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/BoucheriePaulus" class="text-dark">Facebook</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-dark" target="_blank" rel="noopener noreferrer" href="https://lusposoft.fr">PAULUS Lucas</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->